<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Fixed Asset Management System</title>
    <link href="../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/modernizr-2.6.2.js"></script>
    
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../ScriptsNg/Controllers/LoginController.js"></script>
    <script src="../ScriptsNg/Controllers/HomeController.js"></script>
    <script src="../ScriptsNg/Controllers/CompanyController.js"></script>

    
</head>
<body ng-app="Home">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Fixed Asset Management System</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/Company" ng-click="getAll()"><i class="fa fa-home"></i>Company</a></li>
                    <li><a href="#" ng-click="logOut()" ><i class="fa fa-home"></i>Logout</a></li>
                    <li><a href="#!/Next">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div ng-view>

        </div>
        <hr />
        <footer>
            <p>&copy;Fixed Asset Management System</p>
        </footer>
    </div>

    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>

</body>
</html>

<!--<h1>Home</h1>-->